<!DOCTYPE html>
<html lang="en-US">
<head></head>
<body>

<% Genre.all.each do |genre| %>
  <p><a href="genres/<%=genre.name%>.html">
    <%=genre.name.capitalize%></a> <%=genre.songs.count%> songs, <%=genre.artists.count%> artists
  </p>
<% end %>

</body>
</html