<!DOCTYPE html>
<html lang="en-US">
<head></head>
<body>

<% Genre.all.each do |genre| %>
  <li><a href ="<%= genre.name %>"> <%= genre.songs %></a></li>
</li>
<% end %>
  <p>"THIS IS A TEST"</p>
  <a href=<%= genre.name %>></a>
</body>
</html>