<!DOCTYPE html>
<html lang="en-US">
<head></head>
<body>

<% Genre.sorted_on_song_count.each do |genre| %>
  <p><a href="genres/<%=genre.name%>.html">
  <%=genre.name.capitalize%></a> <%=genre.songs.count%> songs, <%=genre.artists.count%> artists
   </p>
<% end %>

</body>
</html