<html><!doctype html>
<html>
	<head>
		<meta name="keywords" content="music, mp3, player">
		<meta name="description" content="Playlister program provides a web interface to play your selection of MP3s.">
		<title>Playlister</title>
		<link rel="stylesheet" href="../resources/css/normalize.css">
		<link rel="stylesheet" href="../resources/css/styles.css">
	</head>
	<body>
		<header>
			<div id="logo" class="shadow">
				<div class="wrapper">
					<hgroup>
						<h1>Playlister</h1>
						<h2>A Super Cool Program to Play Your Tunes</h2>
					</hgroup>
				</div>
			</div>
		</header>
			<div id="music_nav">
				<div class="wrapper">
					<nav>
						<a href="artists.html">Artists</a> <br>
						<a href="genres.html">Genres</a><br>
					</nav>
				</div>
			</div>
			<footer>
			</footer>
	</body>
</html>